.form-group {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type='submit'] {
    width: 95%;
    padding: 12px;
    background-color: #007f86;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 800;
}

button[type='submit']:hover {
    background-color: #225080;
}
