.pagination-nav{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pagination-ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination-li{
    margin: 0 5px;
}

.pagination-btn{
    padding: 8px 12px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #007f86;
    border-radius: 5px;
    color: #007f86;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-btn:hover{
    background-color: #225080;
    color: #fff;
}

.current-page{
    background-color: #007f86;
    color: #fff;
}


