.find-booking-page {
    max-width: 50%;
    margin: 10px auto 60px;
    padding: 20px;
}

.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 10px;
    font-size: 16px;
}

.booking-details {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}


