.search-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    margin-left: 45px;
}

.search-fields{
    flex: 0 0 calc(25% - 10px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-fields label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #666;
}

.search-fields select, .search-fields input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-btn{
    margin-left: 10px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007F86;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-btn:hover{
    background-color: #225081;
}

.date-picker-wrapper{
    width: 100%;
}

