.edit-profile-page {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto auto;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-profile-page h2 {
    text-align: center;
    color: #007F86;
    margin-bottom: 20px;
}

.profile-details {
    margin-bottom: 20px;
}

.profile-details p{
    margin: 5px 0;
}

.delete-profile-button {
    background-color: #FF4b4b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

.delete-profile-button:hover {
    background-color: #e60000;
}

.error-message {
    color: red;
    text-align: center;
}

